<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750223897486-6bg7j117e5bsm283mkvp4b7lh0qvgoba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750223897486-6bg7j117e5bsm283mkvp4b7lh0qvgoba</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>750223897486-10tpf6o0cau0vi86v9sfn5u30uu8herh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcMe8Pv_8BydoAOe5UPrph6bI7h9-1WTg</string>
	<key>GCM_SENDER_ID</key>
	<string>750223897486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Varkensvlei.Pump</string>
	<key>PROJECT_ID</key>
	<string>pump-25eee</string>
	<key>STORAGE_BUCKET</key>
	<string>pump-25eee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750223897486:ios:a44ca43522177b0c2e6adf</string>
	<key>DATABASE_URL</key>
	<string>https://pump-25eee.firebaseio.com</string>
</dict>
</plist>